@{
    ViewBag.Title = "MEET OUR TEAM";
}

<div class="wrapper1">
    
    <h3><font color="#1a1aff"><b>About Our Founder.</b></font></h3>
    <br />
    
    As an avid lover of the radio talk show The Bobby Bones Show, Chad Stefani listened to the
    talk show every morning on his way to work. After hearing about The Bobby Bones Show's segment on
    "Pimpin Joy" where the show's host, Bobby Bones, encouraged others to make an effort to "pay it forward" to others,
    Stefani felt inspired. Standing in a long line at the gas station that morning, Stefani noticed how incredibly long the
    line was to buy lottery tickets. Combining his observations with his inspiration to make a change, Stefani got the idea
    for PLAY IT FORWARD.<br />  <br />

    PLAY IT FORWARD blah blah blah...<br /><br />

    Explain what Pimpin Joy is...<br /><br />
</div>

<div class="backgroundImage">
    <div class="wrapper1">     
            <img src="~/Images/bitmap-3x_2_orig.png" float: left; /><br /> <br />
            <img src="~/Images/bitmap2-3x_2_orig.png" float: left;/><br /><br />

        </div>
    </div>
