@{
    ViewBag.Title = "Home Page";
}

    <br />
    <br />
    <h2>How It Works</h2><br />

    <center> PLAY IT FORWARD is a website where you can... blah blah blah</center>
  <br />
<div>
    <table class="text" style="width:100%">
        <tr class="text">
            <th class="text">
                <b><font size="7"><font color="#66c2ff">1st Step</font><br></font></b>
                <font color="#737373"><font size="4">CREATE AN ACCOUNT</font></font><br>
                <font color="#737373"><font size="4">Add your current loan debt amounts</font></font><br><br />
                <a href="~/Account/Register" class="btn btn-info" role="button">Create an account</a>


            </th>
            <th class="text">
                <b><font size="7"><font color="#66c2ff">2nd Step</font><br></font></b>
                <font color="#737373"><font size="4">MAKE A DONATION OF YOUR CHOICE</font></font><br>
                <font color="#737373"><font size="4"> Make a donation</font></font><br>
            </th>
            <th class="text">
                <b><font size="7"><font color="#66c2ff">3rd Step</font><br></font></b>
                <font color="#737373"><font size="4">"PLAY" FOR YOUR CHANCE TO WIN</font></font><br>
                <font color="#737373"><font size="4">Describe here</font></font><br>
            </th>
        </tr>
    </table>
    <br />
    <br />
</div>


    <br />
    <br />
    <h2>What People Are Saying</h2>
    <!--This is a picture of the user-->

    <div class="wrapper1">
        <center><div class="circular"></div></center>
        <center>
            <font color="#737373">
                <font size="4">
                    "This experience was incredible! After winning PLAY IT FORWARD,
                    I was fortunate enough to pay off my student loan debt. I can't say how much of a blessing this was for me!"<br /><br />
                    <font color="#0000ff">
                        <b>- SAMPLE PERSON</b>
                    </font>
                </font>
            </font><br>
        </center>
    </div>






















   